Test new.creativecommons.org as a pending replacement of creativecommons.org

# Short Ask

Please click around [new.creativecommons.org](https://new.creativecommons.org) so that we can have as many eyes as possible on it before it becomes creativecommons.org :heart:

# Long Ask

The first phase of the creativecommons.org infrastructure refresh is ready to test: **[new.creativecommons.org](https://new.creativecommons.org)**!

The Creative Commons website is made up of three components: 1) WordPress, 2) ccEngine, and 3) Miscellanious. This first phase of the refresh replaces the ccEngine component, but continues to serve the legacy WordPress and legacy Miscellanious compontents.


## Components

Please help us by comparing the new infrastructure to ensure it is as good or better than the legacy infrastructure:

| Component     | Old URL                        | New URL                          |
| ------------- | ------------------------------ | -------------------------------- |
| WordPress     | [/][old-wp]                    | **[/][new-wp]**                  |
| ccEngine      | `/characteristic/` (see below) | `/characteristic/` (see below)   |
| ccEngine      | [/choose/][old-choose]         | **[/choose/][new-choose]**       |
| ccEngine      | [/licenses/][old-licenses]     | **[/licenses/][new-licenses]**   |
| ccEngine      | [/ns][old-ns]                  | **[/ns][new-ns]**                |
| ccEngine      | [/publicdomain/][old-pub]      | **[/publicdomain/][new-pub]**    |
| ccEngine      | [/rdf/][old-rdf]               | **[/rdf/][new-rdf]**             |
| ccEngine      | [/schema.rdf][old-schema]      | **[/schema.rdf][new-schema]**    |
| Miscellaneous | [/faq/][old-faq]               | **[/faq/][new-faq]**             |
| Miscellaneous | [/platform/toolkit/][old-mp]   | **[/platform/toolkit/][new-mp]** |

[old-wp]: https://creativecommons.org/
[new-wp]: https://new.creativecommons.org/

[old-choose]: https://creativecommons.org/choose/
[new-choose]: https://new.creativecommons.org/choose/
[old-licenses]: https://creativecommons.org/licenses/
[new-licenses]: https://new.creativecommons.org/licenses/
[old-ns]: https://creativecommons.org/ns
[new-ns]: https://new.creativecommons.org/ns
[old-pub]: https://creativecommons.org/publicdomain/
[new-pub]: https://new.creativecommons.org/publicdomain/
[old-rdf]: https://creativecommons.org/rdf/
[new-rdf]: https://new.creativecommons.org/rdf/
[old-schema]: https://creativecommons.org/schema.rdf
[new-schema]: https://new.creativecommons.org/schema.rdf

[old-faq]: https://creativecommons.org/faq/
[new-faq]: https://new.creativecommons.org/faq/
[old-mp]: https://creativecommons.org/platform/toolkit/
[new-mp]: https://new.creativecommons.org/platform/toolkit/


### ccEngnine Legal Code

| Old Legal Code               | New Legal Code                   |
| ---------------------------- | -------------------------------- |
| [CC BY 4.0][old-legal-cc-by] | **[CC BY 4.0][new-legal-cc-by]** |
| [CC0 1.0][old-legal-cc-zero] | **[CC0 1.0][new-legal-cc-zero]** |


[old-legal-cc-by]: https://creativecommons.org/licenses/by/4.0/legalcode.en
[new-legal-cc-by]: https://new.creativecommons.org/licenses/by/4.0/legalcode.en
[old-legal-cc-zero]: https://creativecommons.org/publicdomain/zero/1.0/legalcode.en
[new-legal-cc-zero]: https://new.creativecommons.org/publicdomain/zero/1.0/legalcode.en


### ccEngnine Deed

| Old Legal Code              | New Legal Code                  |
| --------------------------- | ------------------------------- |
| [CC BY 4.0][old-deed-cc-by] | **[CC BY 4.0][new-deed-cc-by]** |
| [CC0 1.0][old-deed-cc-zero] | **[CC0 1.0][new-deed-cc-zero]** |


[old-deed-cc-by]: https://creativecommons.org/licenses/by/4.0/deed.en
[new-deed-cc-by]: https://new.creativecommons.org/licenses/by/4.0/deed.en
[old-deed-cc-zero]: https://creativecommons.org/publicdomain/zero/1.0/deed.en
[new-deed-cc-zero]: https://new.creativecommons.org/publicdomain/zero/1.0/deed.en


### ccEngnine RDF

| Old Legal Code             | New Legal Code                 |
| -------------------------- | ------------------------------ |
| [CC BY 4.0][old-rdf-cc-by] | **[CC BY 4.0][new-rdf-cc-by]** |
| [CC0 1.0][old-rdf-cc-zero] | **[CC0 1.0][new-rdf-cc-zero]** |


[old-rdf-cc-by]: https://creativecommons.org/licenses/by/4.0/rdf
[new-rdf-cc-by]: https://new.creativecommons.org/licenses/by/4.0/rdf
[old-rdf-cc-zero]: https://creativecommons.org/publicdomain/zero/1.0/rdf
[new-rdf-cc-zero]: https://new.creativecommons.org/publicdomain/zero/1.0/rdf


### ccEngine Characteristics

| Characteristic      | Old URL                        | New URL                          |
| ------------------- | ------------------------------ | -------------------------------- |
| Attribution         | [/characteristic/by][old-by]   | **[/characteristic/by][new-by]** |
| Noncommercial       | [/characteristic/nc][old-nc]   | **[/characteristic/nc][new-nc]** |
| No Derivative Works | [/characteristic/nd][old-nd]   | **[/characteristic/nd][new-nd]** |
| Share Alike         | [/characteristic/sa][old-sa]   | **[/characteristic/sa][new-sa]** |

[old-by]: https://creativecommons.org/characteristic/by
[new-by]: https://new.creativecommons.org/characteristic/by
[old-nc]: https://creativecommons.org/characteristic/nc
[new-nc]: https://new.creativecommons.org/characteristic/nc
[old-nd]: https://creativecommons.org/characteristic/nd
[new-nd]: https://new.creativecommons.org/characteristic/nd
[old-nd]: https://creativecommons.org/characteristic/sa
[new-nd]: https://new.creativecommons.org/characteristic/sa


# cc-link-checker Testing

I tested both `creativecommons.org` and `new.creativecommons.org` with [creativecommons/cc-link-checker](https://github.com/creativecommons/cc-link-checker). The only difference in the output was that the new infrastructure 404s instead of 521s on some links in the deprecated sampling licenses.

## ccEngine - RDF Validation - Check by Direct Input

https://www.w3.org/RDF/Validator/

Old/Current:
> Error: {W115} Primary subtag must be between 1 and 8 alpha characters: sr@latin[Line = 18, Column = 35]
Error: {W116} RFC 3066 section 2.3 mandates the use of 'oc' instead of 'oci'.[Line = 48, Column = 33]
Error: {W115} Primary subtag must be between 1 and 8 alpha characters: i18n[Line = 79, Column = 31]

New/Pending:
> Error: {W116} RFC 3066 section 2.3 mandates the use of 'oc' instead of 'oci'.[Line = 48, Column = 33]

35177729+Abosnd02@users.noreply.github.com